<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Bistwobis_ListaSugestoes::lista" 
             title="Listas de Sugestões" 
             module="Bistwobis_ListaSugestoes" 
             sortOrder="51" 
             resource="Bistwobis_ListaSugestoes::lista"/>
        <add id="Bistwobis_ListaSugestoes::lista_manage" 
             title="Gerenciar Listas" 
             module="Bistwobis_ListaSugestoes" 
             sortOrder="10" 
             parent="Bistwobis_ListaSugestoes::lista" 
             action="listasugestoes/lista/index" 
             resource="Bistwobis_ListaSugestoes::lista_manage"/>
    </menu>
</config> 